In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv('./southkoreatrip_insta_crawling.csv', encoding='utf-8')

In [4]:
df['content']

0       ★ : - (  Spicy Chicken )Think that is precious...
1       +----------------------------------------Copyr...
2       Yes, we went to #anmokbeach in #gangneung for ...
3       “To my mind, the greatest reward and luxury of...
4       ???TS????...#southkorea #southkoreatrip #south...
                              ...
3492    사진으로 말하다.....#여행일상 #사진쟁이 #겨울풍경 #출사지 #카메라스타그램 #...
3493    Shooting images in the dark are super tough😅😅b...
3494    I envy them! They are having the best time of ...
3495                                      재희공주가 산다는 경복궁인가
3496    Halo Travel Buddy👋Bagi kalian pecinta drama ko...
Name: content, Length: 3497, dtype: object

In [4]:
# 정규표현식 사용 # 제외한 특수문자 제거
df['content']= df['content'].str.replace(pat=r'[^A-Za-z0-9가-힣#]',repl=r' ',regex=True)
df['content']

0       I put a lot less pressure on myself this time ...
1                                               운치 있었던 찻집
2                    #southkorea #구례여행 #nature #southk...
3       Today felt like summer    but I m so ready for...
4       I made a valiant effort  but alas I only made ...
                              ...
5266    2016                     2016  Sokcho  South K...
5267         by  ginabearsblog Happy New Year everyone...
5268    Happy New Year to all my friends around the wo...
5269     What are your resolutions for 2021       Emai...
5270    What were some of your resolutions this year  ...
Name: content, Length: 5271, dtype: object

In [5]:
# 중복제거
df.drop_duplicates(subset=['content'] , inplace=True)
df = df.reset_index(drop=True)
df

,content,date,like,place,tags
0,★ : - ( Spicy Chicken )Think that is precious...,2022-07-13,44,New York-USA,"['#koreanfoodlover', '#kfoods', '#koreanbbq', ..."
1,+----------------------------------------Copyr...,2022-07-13,0,능내역-폐역,"['#a7r3', '#대한민국구석구석', '#기차역------------------..."
2,"Yes, we went to #anmokbeach in #gangneung for ...",2022-07-13,57,"Anmok Beach, Gangneung","['#anmokbeach', '#gangneung', '#behindmyhat', ..."
3,"“To my mind, the greatest reward and luxury of...",2022-07-13,9,NaN,"['#familytravel', '#southkoreatrip', '#iphonep..."
4,???TS????...#southkorea #southkoreatrip #south...,2022-07-13,0,NaN,"['#southkorea', '#southkoreatrip', '#southkore..."
...,...,...,...,...,...
3028,Namsan Tower Visit 😍🚠With babe @jade_jun_sungj...,2022-04-07,22,Namsan Tower Seoul,"['#namsan', '#namsantower', '#seoulview', '#vi..."
3029,Shooting images in the dark are super tough😅😅b...,2022-04-07,68,부산,"['#photography', '#photooftheday', '#photograp..."
3030,I envy them! They are having the best time of ...,2022-04-07,19,NaN,"['#여행', '#강릉', '#바다', '#물멍', '#힐링', '#기차여행', '..."
3031,재희공주가 산다는 경복궁인가,2022-04-07,0,경복궁 - Gyeongbokgung Palace,[]
3032,Halo Travel Buddy👋Bagi kalian pecinta drama ko...,2022-04-07,10,NaN,"['#matatravel', '#matatraveldomestik', '#trave..."

In [6]:
# 대상여부 컬럼 추가
df['대상여부'] = 'Y'
df

,content,date,like,place,tags,대상여부
0,I put a lot less pressure on myself this time ...,2022-09-07,0,KIAF 국제아트페어,"['#artweek', '#전시', '#seoul', '#contemporaryar...",Y
1,운치 있었던 찻집,2022-09-07,24,NaN,[],Y
2,#southkorea #구례여행 #nature #southk...,2022-09-07,56,전라남도 구례,"['#southkorea', '#구례여행', '#nature', '#southkor...",Y
3,Today felt like summer but I m so ready for...,2022-09-07,66,전라남도 구례,"['#구례여행', '#southkorea', '#wanderlust', '#trav...",Y
4,I made a valiant effort but alas I only made ...,2022-09-07,33,KIAF 국제아트페어,"['#coex.', '#frieze', '#kiaf', '#artweek', '#전...",Y
...,...,...,...,...,...,...
4883,2016 2016 Sokcho South K...,2021-01-01,41,강원도 속초,"['#изархива', '#сокчхо', '#сокчо', '#канвондо'...",Y
4884,by ginabearsblog Happy New Year everyone...,2021-01-01,222,"서울스카이 Seoul Sky, Lotte World Tower, Korea","['#seoul', '#songpa.??', '#korea_attractions',...",Y
4885,Happy New Year to all my friends around the wo...,2021-01-01,244,NaN,[],Y
4886,What are your resolutions for 2021 Emai...,2021-01-01,47,NaN,"['#christmas', '#merrychristmas', '#holiday', ...",Y
4887,What were some of your resolutions this year ...,2021-01-01,41,보스턴,"['#wishformula', '#kbeauty', '#homespa', '#ise...",Y

In [7]:
# 한글이 포함되어 있으면 'N'
korean = re.compile(r'[ㄱ-ㅣ가-힣]')
for i in range(len(df['content'])):
    if korean.match(df['content'][i]):
        df['대상여부'][i] = 'N'

In [8]:
df['대상여부'].value_counts()

Y    4601
N     287
Name: 대상여부, dtype: int64

In [9]:
df.to_csv('./data/koreagram_2021_2022_clean.csv', index=False, encoding='utf-8-sig')